<div class="topbar">
  <!-- IZQUIERDA (ICONOS) -->
  <div class="left">
    <a href="https://www.facebook.com/krispykreme" target="_blank">
      <i class="fa-brands fa-facebook"></i>
    </a>

    <a href="https://www.instagram.com/krispykreme" target="_blank">
      <i class="fa-brands fa-instagram"></i>
    </a>

    <a href="https://www.tiktok.com/@krispykreme" target="_blank">
      <i class="fa-brands fa-tiktok"></i>
    </a>
  </div>

  <!-- CENTRO -->
  <div class="center">
    <a>Nuestra historia</a>
    <a>Trabaja con nosotros</a>
    <a>Cuéntanos tu experiencia</a>
  </div>

  <!-- DERECHA -->
  <div class="right">
    <span> info@krispykreme.ec | pedidoscorporativos@krispykreme.ec</span>
  </div>
</div>

<div class="navbar">
  <!-- LOGO -->
  <div class="logo-container">
    <img src="logo.png" alt="logo">
  </div>

  <!-- MENU -->
  <div class="menu">
    <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Inicio</a>
    <a routerLink="/menu" routerLinkActive="active">Menú</a>
    <a routerLink="/locales" routerLinkActive="active">Locales</a>
    <a routerLink="/coleccionables" routerLinkActive="active">Coleccionables</a>
    <a routerLink="/rewards" routerLinkActive="active">Rewards</a>
    <a routerLink="/contacto" routerLinkActive="active">Contacto</a>
  </div>
</div>


<!-- CONTENIDO DINÁMICO DE LA PÁGINA -->
<router-outlet></router-outlet>

<div class="decoracion1">
  <img src="assets/videos/punto.png" alt="decoracion">
</div>

<section class="contacto">

  <div class="contacto-content">

    <!-- TEXTO -->
    <div class="texto-contacto">
      <h2>MANTENGÁMONOS EN CONTACTO...</h2>
      <p>Ingresa tu correo para asegurarte de estar informado/a.</p>
    </div>

    <!-- FORM REAL 🔥 -->
    <form class="form-contacto" (submit)="registrarEmail($event)">

      <input
        type="email"
        placeholder="Email"
        [(ngModel)]="email"
        name="email"
        required
      >

      <button type="submit">REGÍSTRATE</button>

    </form>

  </div>

</section>

<footer class="footer">

  <!-- PARTE VERDE -->
  <div class="footer-top">

    <div class="footer-container">

      <!-- LOGO -->
      <div class="footer-logo">
        <img src="assets/videos/logo2.png" alt="Krispy Kreme">
      </div>

      <!-- LINKS -->
      <div class="footer-links">
        <a href="#">Inicio</a>
        <a routerLink="/menu" routerLinkActive="active">Menú</a>
        <a href="#">Locales</a>
        <a href="#">Coleccionables</a>
        <a href="#">Rewards</a>
        <a href="#">Contacto</a>
        <a href="#">Términos y condiciones Rewards</a>
      </div>

    </div>

  </div>

  <!-- PARTE GRIS -->
  <div class="footer-bottom">
    <p>© Copyright Krispy Kreme Ecuador2026</p>
  </div>

</footer>