<div class="decoracion">
  <img src="assets/videos/decoracionmenu.png" alt="decoracion">
</div>

<div class="carrito-container">

  <!-- IZQUIERDA -->
  <div class="carrito-lista">

    <h2>Carrito de Compras</h2>

    <!-- 🔥 AQUÍ ESTÁ LA CLAVE -->
    <div *ngFor="let item of items" class="producto">

      <img [src]="item.imagen || 'assets/default.png'">

      <div class="info">
        <h3>{{item.producto}}</h3>

        <p class="stock">En stock</p>

        <div class="acciones">

          <div class="contador">
            <button (click)="restar(item)">-</button>
            <span [class.animar]="item.animar">{{item.cantidad}}</span>
            <button (click)="sumar(item)">+</button>
          </div>

          <button class="delete" (click)="eliminar(item)">
            Eliminar
          </button>

        </div>

      </div>

    </div>

  </div>

  <!-- DERECHA -->
  <div class="resumen">

    <h3>Subtotal ({{ total }} items)</h3>

    <p class="precio">
      $ {{ total * 2.5 | number:'1.2-2' }}
    </p>

    <button class="checkout" (click)="checkout()">
      Proceder al pago
    </button>

  </div>


<div *ngIf="mostrarCheckout" class="checkout-form">

  <h3>Datos de envío</h3>

  <input [(ngModel)]="form.nombre" placeholder="Nombre completo">
  <input [(ngModel)]="form.direccion" placeholder="Dirección">
  <input [(ngModel)]="form.email" placeholder="Correo electrónico">

  <h4>Método de pago</h4>

  <select [(ngModel)]="form.metodo">
    <option value="tarjeta">Tarjeta</option>
    <option value="efectivo">Efectivo</option>
  </select>

  <button class="confirmar" (click)="confirmarCompra()">
    Confirmar compra
  </button>

</div>

<div class="overlay" *ngIf="compraExitosa">

  <div class="check">
    ✔
  </div>

  <p>Compra realizada</p>

  <button class="btn-cerrar" (click)="cerrarCompra()">
    Continuar comprando
  </button>

</div>